
html
  head
    title Krrish Dance Academy
    //- block scripts
    block style     

  body
    //-creating a navbar
    nav#navbar 
        ul      
            div#logo
                img(src='../static/img/logo.png')
            li#logoName KDA
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/contact') Contact Us]
    block content
    footer 
        | Ⓒ all rights reserverd

//-Now fill this base template using home.pug