html 
    head 
        title Krrish Dance Academy 
        style
            include ../static/style.css
    body 
        //- creating a navbar
        nav#navbar 
            ul      
                div#logo
                    img(src='../static/img/logo.png')
                li#logoName KDA
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Contact Us]
        //- Intro Section
        section#introSection
            div.main Welcome to Krrish's Dance Academy
            div.small Eat Sleep Dance Repeat

        //- Mission Section
        h3 Our mission

        section#missionSection
            div.boxGrid#box-1 
                h4 Dance perfection
                div.bottom
                    div.image#img1
                        img(src='../static/img/img1.png')
                    p This is the best dance academy in the universe
            div.boxGrid#box-2 
                h4 Dance the way you like
                div.bottom#img2
                    div.image
                        img(src='../static/img/img2.png')
                    p This is the best dance academy in the universe
            div.boxGrid#box-3 
                h4 Expert Teaching
                div.bottom
                    div.image#img3
                        img(src='../static/img/img3.png')
                    p This is the best dance academy in the universe

        section#sponsorSection
            h3 Our Sponsors
            .sponsor 
                div#sponsor1    
                    img(src='../static/img/abcd.png')
                div#sponsor2
                    img(src='../static/img/apple.png')
                div#sponsor3
                    img(src='../static/img/skype.png')
                div#sponsor4
                    img(src='../static/img/microsoft.png')

        footer 
            | &copy; all rights reserverd

        //- script 
        //-     include ../static/script.js
